@use "./Mixin.scss" as *;

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 0 30px;

  &__right {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(to top,  #1a1a1a, transparent);
      z-index: 2;
    }

    &-photo {
      width: 500px;
      height: auto;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 390px;
      height: 390px;
      border-radius: 50%;
      border: none;

      box-shadow:
        inset 0 0 60px rgba(255, 122, 0, 0.6),
        0 0 40px rgba(255, 122, 0, 0.3);
      background: transparent;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }

  &__left {
    width: 50%;

    &-job {
      @include text-style(25px, 200, $orange);
      margin-top: 50px;
      margin-bottom: 15px;
    }

    &-lastName {
      @include text-style(100px, 500, $white);
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    }
    &-name {
      @include text-style(100px, 500, #ff9a3c);
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
      margin-bottom: 10px;
    }

    &-work {
      @include text-style(20px, 100, $grey);
      margin-bottom: 40px;
    }

    &-btn {
      @include text-style(18px, 200, $orange);
      display: inline-block;
      margin-bottom: 15px;
      border: 1px solid $orange;
      padding: 12px 20px;
      border-radius: 11px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        color: $grey;
      }
    }

    &-actions {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &-contacts {
      display: flex;
      gap: 30px;

      a {
        &:hover img {
          filter: invert(76%) sepia(70%) saturate(6207%) hue-rotate(0deg)
            brightness(103%) contrast(105%);
        }
      }

      img {
        width: 30px;
        height: 30px;
        transition: 0.3s ease;
        filter: invert(60%); // ← вот это добавь для серого
      }
    }
  }

  // =================================================
  // адаптация для "About"
  // =================================================

  @media screen and (max-width: 1050px) {
    &__right {
      &-photo {
        width: 430px;
      }
      &::before {
        width: 340px;
        height: 340px;
      }
    }
  }

  @media screen and (max-width: 940px) {
    &__left {
      &-lastName {
        font-size: 75px;
      }
      &-name {
        font-size: 75px;
      }
      &-work {
        font-size: 16px;
        margin-bottom: 25px;
      }
      &-btn {
        font-size: 16px;
      }
    }

    &__right {
      margin-right: 0;
      &-photo {
        width: 340px;
      }
      &::before {
        width: 320px;
        height: 320px;
      }
    }
  }

  @media screen and (max-width: 765px) {
    &__left {
      &-lastName {
        font-size: 64px;
      }
      &-name {
        font-size: 64px;
      }
    }
  }

  @media screen and (max-width: 690px) {
    text-align: center;
    margin-top: 8px;

    &__left {
      &-job {
        font-size: 23px;
        margin-bottom: 10px;
      }
      &-lastName {
        font-size: 48px;
      }
      &-name {
        font-size: 48px;
      }
      &-work {
        font-size: 14px;
      }
      &-btn {
        font-size: 14px;
        margin-bottom: 8px;
      }

      &-contacts {
        img {
          width: 26px;
          height: 26px;
        }
      }
    }

    &__right {
      margin-top: 0;
      &-photo {
        width: 290px;
      }
      &::before {
        width: 240px;
        height: 240px;
      }
    }
  }

  @media screen and (max-width: 610px) {
    text-align: center;
    margin-top: 8px;

    &__left {
      &-job {
        font-size: 21px;
        margin-bottom: 10px;
      }
      &-lastName {
        font-size: 50px;
      }
      &-name {
        font-size: 50px;
      }
      &-work {
        font-size: 13px;
      }
      &-btn {
        font-size: 13px;
        margin-bottom: 8px;
      }

      &-contacts {
        img {
          width: 26px;
          height: 26px;
        }
      }
    }

    &__right {
      margin-top: 0;
      &-photo {
        width: 260px;
      }
      &::before {
        width: 210px;
        height: 210px;
      }
    }
  }

  @media screen and (max-width: 580px) {
    &__left {
      &-lastName {
        font-size: 46px;
      }
      &-name {
        font-size: 46px;
      }
      &-job {
        font-size: 19px;
        margin-top: 35px;
      }
      &-work {
        font-size: 14px;
      }
      &-btn {
        font-size: 12px;
        padding: 10px 14px;
      }
      &-contacts {
        img {
          width: 23px;
          height: 23px;
        }
      }
    }

    &__right {
      &-photo {
        width: 250px;
      }
      &::before {
        width: 208px;
        height: 208px;
      }
    }
  }

  @media screen and (max-width: 550px) {
    &__left {
      &-lastName {
        font-size: 45px;
      }
      &-name {
        font-size: 45px;
      }
      &-job {
        font-size: 18px;
        margin-top: 30px;
      }
      &-work {
        font-size: 13px;
        margin-bottom: 18px;
      }
      &-btn {
        font-size: 11px;
        padding: 10px 13px;
      }
      &-contacts {
        gap: 25px;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }

    &__right {
      &-photo {
        width: 230px;
      }
      &::before {
        width: 180px;
        height: 180px;
      }
    }
  }

  @media screen and (max-width: 520px) {
    &__right {
      &-photo {
        width: 218px;
      }
      &::before {
        width: 170px;
        height: 170px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    &__left {
      &-lastName {
        font-size: 43px;
      }
      &-name {
        font-size: 43px;
      }
      &-job {
        font-size: 17px;
        margin-top: 30px;
      }
      &-work {
        font-size: 13px;
        margin-bottom: 16px;
      }
      &-btn {
        font-size: 10px;
        padding: 10px 13px;
        margin-bottom: 5px;
      }
      &-contacts {
        gap: 21px;
        img {
          width: 23px;
          height: 23px;
        }
      }
    }

    &__right {
      &-photo {
        width: 200px;
      }
      &::before {
        width: 170px;
        height: 170px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    &__left {
      &-lastName {
        font-size: 40px;
      }
      &-name {
        font-size: 40px;
      }
      &-job {
        font-size: 16px;
        margin-top: 30px;
      }
      &-work {
        font-size: 12px;
        margin-bottom: 15px;
      }
      &-btn {
        font-size: 10px;
        padding: 9px 12px;
        margin-bottom: 3px;
      }
      &-contacts {
        gap: 19px;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }

    &__right {
      &-photo {
        width: 200px;
      }
      &::before {
        width: 160px;
        height: 160px;
      }
    }
  }

  @media screen and (max-width: 460px) {
    flex-direction: column-reverse;
    text-align: center;

    &__left {
      width: 100%;
      &-lastName {
        font-size: 60px;
      }
      &-name {
        font-size: 60px;
      }
      &-job {
        font-size: 20px;
        margin-top: 15px;
      }
      &-contacts {
        justify-content: center;
      }
    }

    &__right {
      margin-top: 5px;
      &-photo {
        width: 280px;
      }
      &::before {
        width: 230px;
        height: 230px;
      }
    }
  }

  @media screen and (max-width: 430px) {
    &__left {
      &-lastName {
        font-size: 50px;
      }
      &-name {
        font-size: 50px;
      }
      &-job {
        font-size: 18px;
        margin-top: 15px;
      }
    }
  }
  @media screen and (max-width: 360px) {
    &__right {
      margin-top: 1px;
      &-photo {
        width: 260px;
      }
      &::before {
        width: 220px;
        height: 220px;
      }
    }
  }
  @media screen and (max-width: 330px) {
    &__right {
      margin-top: 1px;
      &-photo {
        width: 250px;
      }
      &::before {
        width: 210px;
        height: 210px;
      }
    }
  }
}
